// Google Font
@import url('https://fonts.googleapis.com/css2?family=Kantumruy+Pro&family=Lora:ital@1&family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro&family=Courgette&family=Kalam&display=swap');

:root{
    //-------------------------------- HEADER -----------------------------------

    --header-height: 56px;

    // -------------------------------- COLOR -----------------------------------

    /*Color mode HSL Chue, saturation, lightness)*/
    --first-color: #1F5BD3;
    --title-color: #3F4244;
    --text-color: #44474A;
    --text-color-light: #8A8F93;
    --body-color: #FCFCFC;
    --container-color: #F1F2F2;

    --gradient-color: linear-gradient (180deg, hsla(207, 48%, 72%, 0), hsla(207, 65%, 65%, 1));

     

    //-------------------------------- Font and typography -----------------------------------

    --body-font: 'Montserrat', sans-serif;
    --title-font: 'Lora', serif;
    // --title-font: 'Kalam', cursive;
    --khmer-font: 'Kantumruy Pro', sans-serif;
    --biggest-font-size: 24px;
    --hi-font-size: 24px;
    --h2-font-size: 20px;
    --h3-font-size: 16px;
    --normal-font-size: 15px;
    --small-font-size: 13px;
    --smaller-font-size: 12px;
    --tiny-font-size: 10px;

    //-------------------------------- Font Weight -----------------------------------

    --font-medium: 500;
    --font-semi-bold: 600;

    //-------------------------------- Font Weight -----------------------------------
    --z-normal: 1;
    --z-tooltip: 10;
    --z-fixed: 100;
}

// *RESPONSIVE TYPHOGRAPHY
@media screen and (min-width: 1024px){
    :root{
        --biggest-font-size: 48px;
        --h1-font-size: 36px;
        --h2-font-size: 24px;
        --h3-font-size: 20px;
        --normal-font-size: 16px;
        --small-font-size: 14px;
        --smaller-font-size: 13px;
        --tiny-font-size: 11px;
    }
}

//-------------------------------- Base -----------------------------------
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
}

h1,h2,h3{
    color: var(--title-color);
    font-family: var(--title-font);
    font-weight: var(--font-medium);
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

img{
    max-width: 100%;
    height: auto;
}

//-------------------------------- Theme -----------------------------------

//-------------------------------- Variable Dark Theme -----------------------------------

//-------------------------------- Color Change in Same Part of the Website, in the light theme -----------------------------------

//-------------------------------- Reusable CSS Classe -----------------------------------
.container{
    max-width: 1024px;
    margin-inline: 24px;
}

.grid{
    display: grid;
    gap: 24px;
}

.section{
    padding-block: 40px;
}

.section__border{
    border-bottom: 1px solid var(--title-color);
    padding-bottom: 56px;
}

.section__title, .section__subtitle{
    text-align: center;
}

.section__title{
    font-size: var(--h1-font-size);
    font-weight: var(--font-semi-bold);
    margin-bottom: 4px;
}

.section__subtitle{
    display: block;
    font-size: var(--small-font-size);
    color: var(--text-color-light);
    margin-bottom: 48px;
}

.main{
    overflow: hidden; 
}

//-------------------------------- Header & Nav -----------------------------------
.header{
    width: 100%;
    position: fixed;
    bottom: 32px;
    left: 0;
    z-index: var(--z-fixed);
}

.nav{
    height: calc(var(--header-height) + 8px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--body-color);
    box-shadow: 0 4px 20px hsla(207, 24%, 35%, .1);
    padding-inline: 24px;
    border-radius: 15px;
}

.nav__logo, .nav__toggle, .nav__close{
    color: var(--title-color);
}

.nav__logo{
    font-family: var(--title-font);
    font-weight: var(--font-medium);
}

.nav__toggle{
    display: flex;
    font-size: 20px;
    cursor: pointer;
}

@media screen and (max-width: 1023px){
    .nav__menu{
        position: fixed;
        width: 88%;
        left: 0;
        right: 0;
        bottom: -60%;
        margin: auto;
        background-color: var(--body-color);
        box-shadow: 0 4px 20px hsla(207, 24%, 35%, .1);
        padding: 32px 24px 80px;
        border-radius: 15px;
        transition: bottom .3s;
    }
}

.nav__list{
    grid-template-columns: repeat(3, max-content);
    justify-content: center;
    gap: 32px 48px
}

.nav__link{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 4px;
    font-size: var(--smaller-font-size);
    color: var(--text-color-light);
    transition: color .3s;
}

.nav__link:hover{
    color: var(--title-color);
}

.nav__link i{
    font-size: 24px;
}

.nav__close{
    position: absolute;
    right: 24px;
    bottom: 11.2px;
    font-size: 24px;
    cursor: pointer;
}

// show menu
.show-menu{
    bottom: 32px;
} 

// Active Link

//-------------------------------- Home -----------------------------------
.home__container{
    row-gap: 64px;
    padding-top: 32px;
}

.home__data{
    row-gap: 24px;
}

.home__title{
    text-align: center;
    font-size: var(--biggest-font-size);
    letter-spacing: .3px;
    margin-bottom: 4px;
}

.home__blob{
    position: relative;
    width: 200px;
    height: 200px;
    background-color: var(--body-color);
    border: 2px solid var(--text-color-light);
    justify-self: center;
    border-radius: 100px;
    place-items: center;
}

.home__profil{
    width: 180px;
    height: 180px;
    background: var(--gradient-color);
    border-radius: 88px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

// // .home__profil img{
// //     width: 150px;
// // }

.home__shape-wave, .home__shape-circle{
    position: absolute;
    opacity: .1;
    z-index: -1;
}

.home__shape-wave{
    width: 100px;
    left: -24px;
    top: 80px;
}

.home__shape-circle{
    width: 100px;
    bottom: -32px;
    right: -48px;
    // z-index: -1;
}

.home__social{
    justify-self: center;
    display: flex;
    column-gap: 18px;
}

.home__social-link{
    font-size: 32px;
    color: var(--text-color-light);
    transition: color .3s;
}

.home__social-link:hover{
    color: var(--title-color);
}

.home__info{
    display: grid;
    row-gap: 32px;
}

.home__info-title{
    font-family: var(--body-font);
    font-size: var(--smaller-font-size);
    font-weight: 400;
    color: var(--text-color-light);
    margin-bottom: 18px;
}

.home__info-description, .home__info-number{
    font-family: var(--title-font);
    color: var(--title-color);
}

.home__info-description{
    padding-right: 64px;
}

.home__info-number{
    font-size: var(--h1-font-size);
    font-weight: var(--font-semi-bold);
}

//-------------------------------- Skill -----------------------------------
.skills__container{
    row-gap: 56px;
}

.skills__title{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 8px;
    font-size: var(--small-font-size);
    font-weight: var(--font-semi-bold);
    margin-bottom: 40px;
}

.skills__title i{
    font-size: 16px;
    font-weight: initial;
}

.skills__info, .skills__data, .skills__blob{
    display: grid;
}

.skills__info{
    grid-template-columns: repeat(3, 1fr);
    gap: 40px 32px;
}

.skills__data{
    justify-content: center;
    text-align: center;
}

.skills__blob{
    width: 100px;
    height: 100px;
    background-color: var(--container-color);
    border-radius: 100px;
    place-items: center;
    margin-bottom: 18px;
}

.skills__blob img{
    width: 60px;
}

.skills__name{
    font-size: var(--small-font-size);
    margin-bottom: 4px;
}

.skills__subtitle{
    font-size: var(--tiny-font-size);
    color: var(--text-color-light);
}

// Animation Skill
.skills__blob:hover img{
    animation: bounce-skills .6s
}

@keyframes bounce-skills{
    0%{
        transform: translate(0);
    }

    20%{
        transform: translateY(-6px);
    }

    30%{
        transform: translate(0);
    }

    60%{
        transform: translateY(-3px);
    }

    80%{
        transform: translate(0);
    }
}

//-------------------------------- Qualification -----------------------------------
.qualification{
    position: relative;
}

.qualification__container{
    row-gap: 60px;
}

.qualification__title{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 8px;
    font-size: var(--small-font-size);
    font-weight: var(--font-semi-bold);
    margin-bottom: 32px;
}

.qualification__title i{
    font-size: 18px;
    font-weight: initial;
}

.qualification__info{
    display: grid;
    row-gap: 36px;
}

.qualification__name{
    font-size: var(--normal-font-size);
    margin-bottom: 22px;
}

.qualification__country, .qualification__year{
    display: block;
    font-size: var(--small-font-size);
    color: var(--text-color-light);
}

.qualification__country{
    margin-bottom: 12px;
}

.qualification__img{
    width: 150px;
    position: absolute;
    right: -56px;
    bottom: 192px;
    transform: rotate(15deg);
    opacity: .1;
}